services:
  db:
    image: 'postgres:latest'
    container_name: activity-db
    environment:
      POSTGRES_DB: activitydb
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"
    volumes:
      - ./backend/src/main/resources/db/migration:/docker-entrypoint-initdb.d